/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imgs/fundo.png);
    background-size: auto 100vh;
    font-family: Arial;
    font-size: 8px;
    height: 100vh;
}

/* Se a tela tiver pelo menos 400px, carregará esses estilos*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/* Breakpoint */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}
header {
    height: 70vh;
    display: flex;
    justify-content: center; /*dentro do flex, alinha na horizontal*/
    align-items: center; /* dentro do flex, alinha na vertical*/
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a {
    padding: 10px 20px;
    display: block;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

.site-title, .site-subtitle {
    color: whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
    font-size: 3em;
}

.portfolio-img {
    width: 240px;
    height: 240px;
    background-color: red;
}